header{background: #ffa801;}

.top-bar{
    padding: 0;
    font-size: 12px;
    border-bottom: .4px solid #ffd32a;
    min-height: 40px;
}

.main-header{
    padding: 20px 0 25px;
}

.site-title{
    color: #fff;
}