.header-nav{
    background: #ffd32a;
}

.header-nav li{
    display: inline-block;
    padding: 15px 25px 15px;
}

.header-nav li a, .header-nav li a:visited{
    color: #fff;
    text-decoration: none;
    display: block;
}

.header-nav li:hover{
    background: #ffa801;
}
